.collapse.show {
    background-color: #212529;
    color:black;
    width: 100%; 
    top:0;
    padding-left: 10px;
    display: block;
}
.collapsing{
    height: 20px!important;
}


/* mouse effect */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    /* pointer-events: none; */
}
/* styles texts aceuill */

.text-danger{
    color: var(--color-accent) !important;
} 
.btn-danger{
   background-color: var(--color-accent);
   border-color: var(--color-accent);
   
} 
.btn-danger a {
    position: relative;
    z-index: 1300;
}
.btn-danger:hover{
    background-color: var(--color-accent-hover);
    border-color: var(--color-accent-hover); 
  }  
.btn-outline-danger{
    color: var(--color-accent) ;
    border-color: var(--color-accent) ;
 }
 .btn-outline-danger:hover{
    border-color: var(--color-accent-hover);
    background-color: var(--color-accent-hover)!important;
    color: white;
} 



/* global section et footer */


section, footer{
    display:grid;
    
    place-items: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    /* background: linear-gradient(360deg, #191625,#191625,#520e4b,#191625,#191625) */
    background-color:white;
    /* background-color: var(--color-bg); */
}


/* annimation dapparition des ellement */
   .hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-200px);
    transition: all 1s;
   }
  @media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
  } 
   .showannimation{
    opacity: 1 ;
    filter:blur(0);
    transform: translateX(0);
   }
.text-translator{
    color:white
}
    /* 
navbar
 */
 #navbarSite{
    
    transition: 0.5s;
    z-index: 2000;
 }
 @media screen and (max-width: 600px) {
    #navbarSite{
        background-color: #212529;
        
        transition: 0.5s;
        z-index: 2000;
     }
 }
 a.nav-link{
    color: white;
    font-weight: 400;
    
 }
 a.nav-link.active{
    color:var(--color-accent) !important;
      
} 

/* button translate */

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px;
    bottom: auto;
    left: auto;
}
@media  screen and (max-width: 600px){
    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 15px;
        right: 30px;
        bottom: auto;
        left: auto;
    }
    
}


.toggle-container {
    display: flex;
    flex-direction: row;
    width: 35px;
    cursor: pointer;
}

.slider {
    width: 35px;
    height: 20px;
    background-color: var(--color-accent); /* Change the background color of the slider */
    border-radius: 8px;
    display: inline-block;
}

.handle {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #707070; /* Change the border color of the handle */
    border-radius: 50%;
    margin-left: -35px;
    transition: margin-left 0.3s ease;
}

.img-thumbnail{
    width: 400px;
    display: flex;
    justify-content: center;
    
}



   /* deuxiemme style slide cartes */

/*
 bacground
  */

#firstRowHomePage{
    min-height:100vh;
    background-image: url("images/imagefond.webp");
    background-position: center;
    
}


#section1{
    background-color: rgba(25, 23, 39, 0.9);
    margin-top: -100px;
}

/* premier section */
.text-porfolio{
    color: #e22b6d;
    font-size: 4vw;
    font-weight: bold;
}
.normal-text{
    color:white;
    font-weight: bold;
    font-size:3vw ;

}
.transparent-texte-moyen {
    font-size: 6vw;
    font-weight: bold;
    color: transparent; /* Rend le texte transparent */
    -webkit-text-stroke: 2px white;
    
  }
.transparent-texte-gros {
    font-size: 8vw;
    font-weight: bold;
    color: transparent; /* Rend le texte transparent */
    -webkit-text-stroke: 2px white;
    /* Indique que le fond blanc doit être visible à travers le texte */
    
  }
.text-brillant-gros {
    font-size: 6vw;
    font-weight: bold;
    color: transparent; /* Rend le texte transparent */
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Ombre blanche autour du texte */
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); /* Fond blanc */
    -webkit-background-clip: text; /* Indique que le fond blanc doit être visible à travers le texte */
    background-clip: text;
  }
  .text-dev {
    margin-top: 20px;
    font-size: 4vw;
    font-weight: bold;
    color: white; /* Rend le texte transparent */

  }
  .text-gros {
    margin-top: 20px;
    font-size: 3vw;
    font-weight: bold;
    color: var(--text1); /* Rend le texte transparent */

  }
  .text-brillant-petit {
    font-size: 2vw;
    font-weight: bold;
    color: transparent; /* Rend le texte transparent */
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Ombre blanche autour du texte */
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); /* Fond blanc */
    -webkit-background-clip: text; /* Préfixe pour certains navigateurs WebKit */
    background-clip: text; 
  }
  @media screen and (max-width: 600px){
    .text-porfolio{
        font-size: 9vw;
    }
    .normal-text{
      
        font-size:4vw ;
    }
    .transparent-texte-gros {
        font-size: 14vw;
      }
      .text-gros, .text-dev {
        font-size: 6vw;
      }
      .text-brillant-petit {
        font-size: 4vw; /* Ajustez ici si nécessaire */
        -webkit-background-clip: text; /* Préfixe pour certains navigateurs WebKit */
        background-clip: text; 
      }
  }
  /* show showannimation */
  .text:nth-child(2){
    transition-delay: 200ms;

   }
   .text:nth-child(3){
    transition-delay: 300ms;
    
   }
   .text:nth-child(4){
    transition-delay: 400ms;
    
   }
   .text:nth-child(5){
    transition-delay: 500ms;
    
   }
   .text:nth-child(6){
    transition-delay: 600ms;
    
   }

/* Animation mouse */
#mouseBtn i {
    position: absolute;
    font-size: 40px;
    top: 85%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: -webkit-transform 0.5s ease, transform 0.5s ease;
    z-index: 1400;
    transform-origin: 50% 50%;

}

#mouseBtn i:hover {
    transform: translate(-50%, -50%) scale(2);
    -webkit-transform: translate(-50%, -50%) scale(2);
    cursor: pointer;
    transform-origin: center;
    transform-origin: 50% 50%;
}

.btn-social-share {
    border-radius: 50%;
    width: 40px;
    height: 50px;
}
@media only screen and (max-width: 767px) {
    #mouseBtn i {
        top: 70%;
        left: 50%; /* Ajustez cette valeur si nécessaire pour le centrage horizontal */
    }
}




/* about me  */
.about_commercial{
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
    .about_commercial{
        margin-top: 5%;
        margin-bottom: 0;
    }
}
.moi-image{
    width: 300px;
    height: auto;
    
}


a.surlignement {
    color: inherit;
    
    background: linear-gradient(to top, #9c076a 0%, #9c076a 0.3%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.6s;
}

a.surlignement:hover {
    background-size: 100% 100%;
   
  
}
/* .surlignement::after{
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background: black;
    transition: width 0.2s  ease-in-out;
}
.surlignement:hover::after{
    width: 60%;
    display: flex;
    justify-content: center;
} */


/* 
showannimation
 */

.element:nth-child(2){
    transition-delay: 800ms;

   }

   .element:nth-child(4){
    transition-delay: 200ms;
    
   }
/*
prestations
*/
.carte-prestations{
    width: 300px;
}
@media  screen and (max-width:600px) {
    .carte-prestations {
        width: 260px;
    }
    
}


/* 
project
*/

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}
a{
    text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
    /* Styles pour la réduction du mouvement */
    a.title-carte-project {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
    }
  
    a.title-carte-project:hover {
      background-color: var(--color-accent);
    }
    
    .title-carte-project {
      border-bottom: 2px solid var(--color-accent);
    }
    
   
  
    #project a {
      color: white;
      text-decoration: none;
    }
  }

#project ul li.card-text{
    text-decoration: none;
    list-style: none;
    color: white;

}
@media screen and (max-width: 768px) {
    a.title-carte-project {
        line-height: 1.5;
    }
}

/* showannimation */
.show-project:nth-child(2) {
    transition-delay: 200ms;

}

.show-project:nth-child(3) {
    transition-delay: 300ms;

}

.show-project:nth-child(4) {
    transition-delay: 400ms;

}

.show-project:nth-child(5) {
    transition-delay: 500ms;

}

.show-project:nth-child(6) {
    transition-delay: 600ms;

}
.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}
.order-4 {
    order: 4;
}


 .modal-project1{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg,#520e4b,#191625,#191625);
    
 } 
 .modal-project1.show {
    display: block;
  }

.close-btn{
    position: absolute;
    top: 20px;
    right: auto;
    bottom: auto;
    left: 20px;
}
.project-modal-container{
    width: 50%;
    height: auto;
} 
.project-modal-img{
    width: 400px;
    height: auto;

}
.modal-project1 ul li.modal-skils {
    text-decoration: none;
    list-style: none;
    padding: 0;
    width: 150px;
    display: block;
    margin:  auto;
}
/* 
skills
*/


.skills ul li {
    
    list-style: none;
    padding: 0;
    width: 150px;
    display: block;
    margin:  auto;
    
    
}
/* phrases */
.phrase {
    font-weight: 700; /* Extrabold */
    font-size: 4vw;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 1s, color 1s;
    line-height: 1.5;
    letter-spacing: -0.2px; /* Ajustez la valeur selon vos préférences */
    font-stretch: expanded; /* Vous pouvez également utiliser condensed ou normal */
}
@media  screen and (max-width:600px) {
    .phrase {
        font-weight: 700; /* Extrabold */
        font-size: 8vw;
        color: rgb(0, 0, 0);
        opacity: 0.2;
        transition: opacity 1s, color 1s;
        line-height: 1.5;
        letter-spacing: -0.2px; /* Ajustez la valeur selon vos préférences */
        font-stretch: expanded; /* Vous pouvez également utiliser condensed ou normal */
    }
    
}
  
  .visible {
    opacity: 1;
    color: black;
  }
/* contacer moi */
.liens-contact {
    color: var(--color-accent);
    margin-top: 35px;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.liens-contact::after{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--color-accent);
    transition: width 0.3s  ease-in-out;

}
.liens-contact:hover::after{
    width: 100%;
}


.text-danger{
    color:var(--color-accent)!important;
}
@media screen and  (max-width:768px) {
    .liens-contact {
        color: var(--color-accent);
        margin-top: 45px;
        display: inline;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .liens-contact::after{
        content: "";
        display: block;
        position: absolute;
        width: 0%;
        height: 1px;
        background: var(--color-accent);
        transition: width 0.3s  ease-in-out;
    
    }
    .liens-contact:hover::after{
        width: 100%;
    }
}

/* testimonials */
/* .temoignage-text{
    color:#474a4d;
}
.testimonial-icon{
    color:var(--color-accent);
    padding:30px;
    font-size: 50px;

}
#client{
    padding-bottom:100px !important;

}
.carousel-indicators [data-bs-target]{
    background-color: var(--red-accent);
}
.icon-bi{
    width: 20px;
    height: 20px;
} */

.text-contacte{
    font-size: 2vh;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    background-clip: text;

}

/* btn de bas */
#scroll-top-button{
    position: fixed;
    bottom:10px;
    right: 0;
    background-color: var(--red-accent);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

}
#scroll-top-button.show{
    opacity: 1;
    visibility: visible;
}


/* carousel */
/* .carousel-indicators {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators button {
    width: 20px;
    height: 10px;
    border: 1px solid #000; 
    margin: 0 10px; 
} */
.chez-moi{
    margin-top:0px;
}

.getTutchTitle{
    font-size:larger;
    margin-top: 0;
   
    
}
.getTutchText{
    font-size: large;

}
@media screen and (max-width: 768px){
    .getTutchTitle{
        margin-top:40px;
        font-size: large;
    }
    .getTutchText{
        font-size: medium;
    } 
}


@media screen and (max-width: 768px){
    .chez-moi{
        margin-top:40px;
    }
    
}

.footer-page{
    background-color: var(--color-bg);
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}




.footer-page a{
    text-decoration: none;
}
.lien-git:hover span,
.lien-git:hover svg path {
    color: var(--color-accent); /* Changer la couleur du texte en rose */
    fill:var(--color-accent);  /* Changer la couleur du chemin en rose */
}

.footer-texts{
    font-size: 1vw;
    font-weight: 600;

}
@media screen and (max-width: 768px){
    .footer-texts{
        font-size: 2vw;
        font-weight: 600;
    
    }
    .lien-git:hover span,
    .lien-git:hover svg path {
    width: 20px;
    height: 20px;
    
    }
    
}
